.sliders-box{
	position: relative;
	margin-top: 22px;
}

.sliders-box .slider-item{
	/*background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;*/
    height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}
.sliders-box .slider-item.active{
	opacity: 1;
	position: relative;
	z-index: 2;
}

.slider-pages{
	position: absolute;
    left: 0;
    bottom: 15px;
    z-index: 3;
    width: 100%;
    text-align: center;
}
.slider-pages .slider-page{
	display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    border-radius: 100%;
    background: rgba(255,255,255,0.1);
	transform: scale(0.94);
}
.slider-pages .slider-page:not(:last-child){
	margin-right: 10px;
}
.slider-pages .slider-page.active{
	border: 2px solid #0099ff;
	background: rgba(255,255,255,0.5);
}
.slider-pages .slider-page:hover{
	background: rgba(255,255,255,0.5);
	transform: scale(1.08);
}

    